
.community{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-style: oblique;
    text-align: center;
    font-weight: 200;
    margin-top: 70px;
    
  
}
.para{
    text-align: center;
    margin-top: 80px;
    
}
.container{
    margin: 5%;
    align-items: center;
    align-content: center;
   
}
.icon{
    
    margin: 10%;
}
.icon:hover{
    transform : scale(1.3);
}
.icon {
   
  
    transition: all 0.2s;
 
   
    
}
body{
    background-image: linear-gradient(rgb(118, 24, 207), rgb(0, 255, 251));
}



